@import "~antd/dist/antd.less";
@import "./theme.less";
@import "./layout.less";

.ExampleImage {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 500px;
  width: 100%;
  background: #314152;
}

.ExampleImage h1 {
  color: #fff;
}
