@media only screen and (min-width: 768px) {
  .container {
    width: auto;
    margin: 0 84px;
  }
}

@media only screen and (min-width: 1200px) {
  .container {
    width: auto;
    margin: 0 102px;
  }
}

@media only screen and (min-width: 1600px) {
  .container {
    width: auto;
    margin: 0 240px;
  }
}
