// Layout
@layout-header-background : #fbfcfd;
@layout-body-background: #fff;
@layout-footer-background: #f0f2f5;

// Menu
@menu-bg: transparent;
@menu-inline-toplevel-item-height: 64px;
@menu-item-height: 64px;
.ant-menu { line-height: 64px; }
