.Navbar {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  box-shadow: 0 0 5px rgba(0, 0, 0, .2);
  margin-bottom: 10px;
}

.Navbar__menu {
  border: none;
}

.UserController {
  button {
    margin: auto 3px;
  }
}

.UserController__button {
  .anticon {
    font-size: 16px !important;
  }
}
